.styled-blockquote {
  @include ff-secondary;

  padding-left: 1.3em;
  font-style: italic;
  word-break: break-word;
  border-left: 2px solid $color-beige--darker;

  > * + * { margin-top: rem(20); }

  // author

  > footer {
    color: $color-grey;

    &::before { content: '—'; }
  }
}

.styled blockquote:not(.do-unstyle) {
  @extend .styled-blockquote;
}
