@mixin styled-svg {
  svg {
    width: 1.4em;
    height: 1.4em;
    margin-top: -0.2em;
    margin-right: 0.2em;
  }
}

// h1

.styled-h1 {
  @include styled-svg;
  @include ff-secondary;

  font-size: rem(56);
  line-height: 1.1;
  word-break: break-word;

  @include mq(medium down) {
    font-size: em(24);
  }
}

.styled h1:not(.do-unstyle) {
  @extend .styled-h1;
}

// h2

.styled-h2 {
  @include styled-svg;
  @include ff-secondary;

  font-size: rem(34);
  line-height: 1.1;
  letter-spacing: -0.02em;
  word-break: break-word;

  @include mq(medium down) {
    font-size: rem(20);
  }
}

.styled h2:not(.do-unstyle) {
  @extend .styled-h2;
}

// h3

.styled-h3 {
  @include styled-svg;
  @include ff-secondary;

  font-size: rem(24);
  line-height: 1.2;
  letter-spacing: -0.02em;
  word-break: break-word;

  @include mq(medium down) {
    font-size: rem(18);
  }
}

.styled h3:not(.do-unstyle) {
  @extend .styled-h3;
}

// h4

.styled-h4 {
  @include styled-svg;

  font-size: rem(18);
  font-weight: $fw-primary-bold;
  line-height: 1.2;
  word-break: break-word;

  @include mq(medium down) {
    font-size: rem(16);
  }
}

.styled h4:not(.do-unstyle) {
  @extend .styled-h4;
}

// h5

.styled-h5 {
  @include styled-svg;

  font-size: rem(14);
  line-height: 1.3;
  text-transform: uppercase;
  word-break: break-word;

  @include mq(medium down) {
    font-size: rem(12);
  }
}

.styled h5:not(.do-unstyle) {
  @extend .styled-h5;
}

// h6

.styled-h6 {
  font-size: em(12);
  font-weight: $fw-primary-bold;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  word-break: break-word;

  @include mq(small down) {
    font-size: rem(10);
  }
}

.styled h6:not(.do-unstyle) {
  @extend .styled-h6;
}
