.styled-p {
  line-height: 1.6;
  font-size: rem(18);
  word-break: break-word;

  @include mq(small down) {
    font-size: rem(16);
  }
}

.styled p:not(.do-unstyle) {
  @extend .styled-p;
}

.styled-p-leading {
  @extend .styled-p;

  font-size: rem(24);
  line-height: 1.5;

  @include mq(xxlarge down) {
    font-size: rem(22);
  }

  @include mq(medium down) {
    font-size: rem(20);
  }

  @include mq(small down) {
    font-size: rem(18);
  }
}

.styled p.styled-p-leading:not(.do-unstyle) {
  @extend .styled-p-leading;
}
