.styled-table {
  width: 100%;
  border-collapse: collapse;
  word-break: break-word;

  thead {
    font-weight: $fw-primary-bold;
  }

  tfoot {
    color: $color-black;
  }

  tr {
    & + tr {
      border-top: solid 1px $color-black;
    }
    &:nth-child(even) {
      background-color: $color-white;
    }
  }

  th {
    text-align: left;
    padding: 0.5em;
    border-bottom: solid 1px $color-black;
    color: $color-white;
  }

  td {
    padding: 0.5em;
  }
}

.styled table:not(.do-unstyle) {
  @extend .styled-table;
}
