{
  "root": true,
  "parser": "@babel/eslint-parser",
  "extends": [
    "google",
    "eslint:recommended",
    "plugin:flowtype/recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "plugins": ["flowtype", "prettier", "react", "filenames", "@babel"],
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "babelOptions": {
      "configFile": "./.babelrc"
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "before": true,
    "after": true,
    "spyOn": true,
    "__PATH_PREFIX__": true,
    "__BASE_PATH__": true,
    "__ASSET_PREFIX__": true
  },
  "rules": {
    "@babel/no-unused-expressions": [
      "error",
      {
        "allowTaggedTemplates": true
      }
    ],
    "no-unused-expressions": "off",
    "consistent-return": ["error"],
    "filenames/match-regex": ["error", "^[a-z-\\d\\.]+$", true],
    "no-console": "warn",
    "no-inner-declarations": "off",
    "prettier/prettier": "error",
    "quotes": ["error", "backtick"],
    "react/display-name": "off",
    "react/jsx-key": "warn",
    "react/no-unescaped-entities": "off",
    "react/prop-types": "warn",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "require-jsdoc": "off",
    "valid-jsdoc": "off",
    "@babel/no-invalid-this": "off",
    "no-invalid-this": "off",
    "no-unused-vars": "warn"
  },
  "settings": {
    "react": {
      "version": "16.9.0"
    }
  }
}
