{
  "root": true,
  "processors": [
    # "stylelint-processor-glamorous",
    # "stylelint-processor-styled-components",
  ],
  "plugins": [
    # "stylelint-scss"
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-prettier",
    # "stylelint-config-styled-components"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "no-descending-specificity": null,
  },
}
