$color-white: #fff;
$color-black: #012025;

$color-grey: #555;

$color-beige: #fffcf3;
$color-beige--dark: darken($color-beige, 5%);
$color-beige--darker: darken($color-beige, 10%);

$color-green: #3a9759;
$color-green--dark: darken($color-green, 10%);
$color-green--light: #5afb8f;

$color-blue: #3e8aa4;

$color-brown: #7f522c;

$color-purple: #7b448b;

$color-orange: #ff6a00;

$color-red: #d9534f;
