html {
  @include ff-primary;

  font-size: 100%; // must always be a percentage value
  color: $color-black;
  background-color: $color-white;
}

strong {
  font-weight: $fw-primary-bold;
}

button {
  background: transparent;
  // because `background-color: transparent` from `~sass-utils/src/all` is
  // converted to `background-color: initial` for some reason
}
