$mq-breakpoints: (
  xxxsmall:  0,
  xxsmall:   320,
  xsmall:    480,
  small:     640,
  medium:    768,
  large:     960,
  xlarge:    1024,
  xxlarge:   1200,
  xxxlarge:  1400,
  xxxxlarge: 1680
);
